{{#each order}}
{{#if isItNew}}
	<p class='newOrder'>
{{else}}	
	<p>
{{/if}}	
		<a href='#' class='showInfo'>#{{number}} - {{name}} - {{date}}</a> - 
		<a href='#' title='Заметка' class='makeComment greenLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-pencil'/></a>
		{{#if isItNew}}
		{{#unless fedexPrice}}
		<a href='#' title='Установить цену доставки' class='setFedexPrice greenLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-road'/></a>
		{{else}}
		<a href='#' title='В работу' class='markSeenOrder greenLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-ok'/></a>
		{{/unless}}
		{{/if}}
		{{#if isActive}}
		<a href='#' title='Заказ отработан' class='markDoneOrder brownLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-eject'/></a>
		{{/if}}
		{{#unless deletedOne}}
		<a href='#' title='Удалить' class='deleteOrder redLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-trash'/></a>
		{{/unless}}
		{{#if deletedOne}}
		<a href='#' title='Удалить совсем' class='deleteOrderPermanently brownLink commandLink' data-id='{{_id}}'><span class='glyphicon glyphicon-trash'/></a>
		{{/if}}
	</p>
	<div class='orderInfo hidden'>
		{{#each product}}
			<p><img src={{image_micro_thumb}}><a href='/products/{{address}}'><b class='greenLink'>{{name}}</b></a> - {{howMany}} шт. - по {{price}} руб.</p>
		{{/each}}
		<div class='totalPrice'><b>Итого</b>: {{totalPrice}} руб.</div>
		<p><b>эл. почта</b>: {{email}}</p>
		<p><b>адрес</b>: {{address}}</p>
		<p><b>телефон</b>: {{phone}}</p>
		<p><b>тип доставки</b>: {{fedex}}</p>
		<p><b>главпункт</b>: {{outpost}}</p>
		<p><b>комментарий</b>: {{comment}}</p>
		<p><b>пометка</b>: {{managerComment}}</p>
		<p><b>цена доcтавки</b>: {{fedexPrice}}</p>
	</div>
	<div class='commentSection hidden'>
		<form class='form-inline managerCommentForm' action="/admin/addmanagercomment" method="post" enctype="multipart/form-data" style='margin-top: 0;'>
			<input type="login" class="form-control hidden"  name='order' value='{{_id}}' required>
			<input class="form-control" type="text" value="{{managerComment}}" name="managerComment" required>
			<input class="btn" type="submit" value="Сохранить" style="opacity: 1 !important;"></input>
		</form>	
	</div>
	<div class='fedexPriceSection hidden'>
		<form class='form-inline fedexPriceForm' action="/admin/setfedexprice" method="post" enctype="multipart/form-data" style='margin-top: 0;'>
			<input type="login" class="form-control hidden"  name='order' value='{{_id}}' required>
			<input class="form-control" type="number" value="{{fedexPrice}}" name="fedexPrice" required>
			<input class="btn" type="submit" value="Сохранить" style="opacity: 1 !important;"></input>
		</form>	
	</div>	
{{/each}}