<form id="addSubCategory" class="form-inline" action="/addsubcategory" method="post" enctype="multipart/form-data" style="margin-left: 5%;">
    <label for="inputSubCategory" class="control-label">Подкатегория</label>
   <div class="form-group">
		<select name='category' class='form-control'>
		{{#each category}}
		<option>{{name}}</option>
		{{/each}}
		</select>
	</div>	
   <div class="form-group">
	<div class="input-group">
      <input type="login" class="form-control" id="inputSubCategory" name='subcategory' placeholder="Подкатегория" required>
	  </div>
  </div>
    <div class="form-group">
		<input class="btn" type="submit" value="Добавить"></input>
 </div>
</form>
{{#each category}}
	<ul>
		<li>{{name}}<a href='#' data-id='{{_id}}' class='deleteCategory'> -- удалить</a>
		<a href='#' data-id='{{_id}}' data-name='{{name}}' class='changeCategory'> -- изменить</a>
		</li>
		{{#each this.subcategory}}
			<p>{{this.name}}
			<a href='#' data-parentid='{{../_id}}' data-id='{{this.id}}' class='deleteSubCategory'> -- удалить</a>
			<a href='#' data-parentid='{{../_id}}' data-id='{{this.id}}' data-name='{{this.name}}' class='changeSubCategory'> -- изменить</a>
			</p>
		{{/each}}
	</ul>
{{/each}}