{{#each products}}
<li data-id='{{_id}}'><a href='/products/{{address}}'>{{name}}</a><a href='#' class='deleteProduct' data-id='{{_id}}'>--удалить</a><a href='#' class='changeProduct' data-id='{{_id}}'>--изменить</a></li>
{{/each}}