<p style='font-size: 21pt; margin-left: 20px;'>Корзина</p>
<form id="cartForm" class='col-md-9' action="/makeorder" method="post" style="margin-left: 5%;">
<h3 class='active'>Покупки</h3>
<div class="form-group cart-group">
	<table>
		{{#each product}}
	<tr>
	<td class='productItem' data-id='{{_id}}' data-price=
		{{#if isSpecialProp}}
			'{{discount}}' 
		{{else}}
			'{{price}}'
		{{/if}}>
		<a href='/products/{{address}}'>{{name}}</a>
	</td>
	<td>
		<input type="number" size="3" name="howMany" class='productHowMany' onchange='recalculatePrice($(this));' min="1" value="{{howMany}}" style='width: 50px; margin-right: 20px;'>
	</td>
	<td class='productInCartPrice'> 
		<div class='sumPrice' style='display: inline;'>{{sumPrice}}</div> руб. 
	</td>
	<td>
		<a href='#' title='Удалить' class='deleteProductFromCart redLink commandLink'><span class='glyphicon glyphicon-trash'/></a> 
	</td>
	</tr>
	{{/each}}
	<tr>
	</tr>
	<tr>
	<td></td>
	<td>Итого</td>
	<td id='totalPrice' colspan="2"></td>
	<tr>
	</table>	
	<a href='#' class='btn btn-default nextSection' onclick='openNextSection($(this)); return false;'>Далее</a>
</div>
<h3>Доставка</h3>
<div class="form-group delivery-group" style='display: none;'>
	<input type="radio" id="fedex" name="fedex" value='fedex' checked>
	<label for="fedex">Курьерская доставка</label><br>
	<input type="radio" id="post" value='post' name="fedex">
	<label for="post">Отправка почтой РФ</label><br>
	<input type="radio" id="pickup" value='pickup' name="fedex">
	<label for="pickup">Самовывоз</label><br>
	<a href="#" onclick="glavpunkt.openMap(selectPunkt); return false;">Выбрать пункт выдачи на карте</a> 
	<textarea name="" id="selectedPunkt" cols="50" rows="4" style="border: 1px solid #999;margin-top: 10px; display: none;" readonly>
	</textarea>
	<br>
	<a href='#' class='btn btn-default nextSection' onclick='openPrevSection($(this)); return false;'>Назад</a>
	<a href='#' class='btn btn-default nextSection' onclick='openNextSection($(this)); return false;'>Далее</a>
 </div>
<h3>Личные данные</h3>
 <div class="form-group info-group" style='display: none;'>
	<input name="name" id='customerName' type="text" placeholder="Введите имя" required><br><br>
	<input name="email" id='customerEmail' type="email" placeholder="Введите email" required><br><br>
	<input name="phone" id='customerPhone' type="phone" placeholder="Введите телефон" required><br><br>
	<input name="address" id='customerAddress' type="text" placeholder="Введите адрес" required><br><br>
	<textarea name="comment" id='customerComment' placeholder="Комментарий"></textarea><br><br>
	<a href='#' class='btn btn-default nextSection' onclick='openPrevSection($(this)); return false;'>Назад</a>
	<input class="btn btn-primary" type="submit" id='makeOrder' value="Оформить заказ"></input>
 </div>
</form>
<script src='/scripts/cart.js'></script>