<p style='font-size: 21pt; margin-left: 20px;' id='cartTitle' >Корзина</p>
<form id="cartForm" class='col-md-9' action="/makeorder" method="post" style="margin-left: 5%;">
<h3 class='active cart-section'>Покупки</h3>
<div class="form-group cart-group">
	<table class='cartTable table table-condensed table-responsive'>
	<tbody>
		{{#each product}}
	<tr>
	<td>
		<img src={{image_micro_thumb}}>
	</td>
	<td class='productItem' data-id='{{_id}}' data-price=
		{{#if isSpecialProp}}
			'{{discount}}' 
		{{else}}
			'{{price}}'
		{{/if}}>
		<a href='/products/{{address}}'>{{name}}</a>
	</td>
	<td>
		<input type="number" size="3" name="howMany" class='productHowMany' onchange='recalculatePrice($(this));' min="1" value="{{howMany}}" style='width: 50px; margin-right: 20px;'>
	</td>
	<td class='productInCartPrice'> 
		<div class='sumPrice' style='display: inline;'>{{sumPrice}}</div> руб. 
	</td>
	<td>
		<a href='#' title='Удалить' class='deleteProductFromCart redLink commandLink'><span class='glyphicon glyphicon-trash'/></a> 
	</td>
	</tr>
	{{/each}}
	<tr>
	<tr class='totalPriceLine'>
	<td></td>
	<td><a href='#' id='clearCart'>Очистить корзину</a></td>
	<td><b>Итого</b></td>
	<td id='totalPrice' colspan="2"></td>
	</tr>
	</tbody>
	</table>	
	<a href='#' class='btn btn-info nextSection' onclick='openNextSection($(this)); return false;'>Далее</a>
</div>
<h3 class='cart-section'>Доставка</h3>
<div class="form-group delivery-group" style='display: none;'>
	<input type="radio" id="fedex" name="fedex" value='Курьер' onchange='showHideAddressField($(this));' checked>
	<label for="fedex">Курьерская доставка по СПб и Москве(190р., при заказе от 2000р.БЕСПЛАТНО)</label><br>
	<input type="radio" id="post" value='Почта' name="fedex" onchange='showHideAddressField($(this));'>
	<label for="post">Отправка почтой России. Стоимость доставки 290рублей. Оплата наложенным платежом при получении.</label><br>
	<input type="radio" id="pickup" value='Самовывоз' name="fedex" onchange='showHideAddressField($(this));'>
	<label for="pickup">Самовывоз (Москва и СПБ бесплатно при заказе более 1500 руб.Менее 90 руб.) По регионам России самовывоз 290 рублей. Оплата в пунктах самовывоза производится при получении.</label><br>
	<a href="#" onclick="glavpunkt.openMap(selectPunkt); return false;" id='selectPunkt'>Выбрать пункт выдачи на карте</a> 
	<br>
	<textarea name="" id="selectedPunkt" cols="50" rows="4" style="border: 1px solid #999;margin-top: 10px; display: none;" readonly>
	</textarea>
	<br>
	<a href='#' class='btn btn-default nextSection' onclick='openPrevSection($(this)); return false;'>Назад</a>
	<a href='#' class='btn btn-info nextSection' onclick='openNextSection($(this)); return false;'>Далее</a>
 </div>
<h3 class='cart-section'>Личные данные</h3>
 <div class="form-group info-group" style='display: none;'>
	<input name="name" id='customerName' type="text" placeholder="Введите имя" required><br><br>
	<input name="email" id='customerEmail' type="email" placeholder="Введите email" required><br><br>
	<input name="phone" id='customerPhone' type="phone" placeholder="Введите телефон" required><br><br>
	<input name="address" id='customerAddress' type="text" placeholder="Введите адрес"><br><br>
	<textarea name="comment" id='customerComment' placeholder="Комментарий"></textarea><br><br>
	<a href='#' class='btn btn-default nextSection' onclick='openPrevSection($(this)); return false;'>Назад</a>
	<input class="btn btn-success" type="submit" id='makeOrder' value="Оформить заказ"></input>
 </div>
</form>
<script src='/scripts/cart.js'></script>