<p style='font-size: 21pt; margin-left: 20px;'>{{product.name}}</p>
<div class='row'>
<div class="col-md-6">
<div>
<a data-fancybox="gallery" href="{{product.image}}">
    <img src="{{product.image}}" style='width: 400px; height: 400px;'>
</a>
</div>
</div>
<div class="col-md-6">
<p>{{product.description}}</p>
<p>{{product.price}}</p>
<p>{{product.code}}</p>
{{#if product.videoURL}}
{{{product.videoURL}}}
{{/if}}
{{#each product.gallery}}
<a data-fancybox="gallery" href="{{image}}">
	<img src='{{thumb_image}}' style='width: 100px; height: 100px;'>
</a>	
{{/each}}
</div>

</div>