<p style='font-size: 21pt; margin-left: 20px;'>{{product.name}}</p>
<div class='row'>
<div class="col-md-6">
<div class='productImage' style='width: 400px; height: 400px; background-image: url({{product.image}}); background-size: cover;'>
	
</div>
</div>
<div class="col-md-6">
<p>{{product.description}}</p>
<p>{{product.price}}</p>
<p>{{product.code}}</p>
</div>

</div>